bin_x64/
build*/
.cache/
.vscode/
.clangd
*.code-workspace
log_nvprosample.txt
ucode.bin
ucode.elf
*.nv-gpudmp
*.nv-gpudmp.json
*.nvdbg
*.dat
*.spv
*.spva
zbsgfxpack.lua
_install
downloaded_resources/
camera_paths.json
screenshot.png
